{#
/**
 * @file
 * Default theme implementation to present a syn entity.
 *
 * This template is used when viewing a registered syn's page,
 * e.g., /admin/synapse/syn)/123. 123 being the syn's ID.
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 *   print a subset such as 'content.title'.
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_syn()
 */
#}
<article{{ attributes }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</article>
